  <h1>My Tasks</h1>
</div>

<div class="col-lg-8">
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Category</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tasks) do |task| %>
            <td><%= link_to task.title, task %></td>
            <td><%= task.priority %></td>
            <td><%= task.status %></td>
            <td><%= task.category %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <% end %>
    </tbody>
  </table>
</div>
</div>
