<div class="page-header">
  <%= link_to [:new, @application, :component], class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Component
  <% end %>
  <h1>Listing components</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Application</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @components) do |component| %>
            <td><%= component.name %></td>
            <td><%= component.application %></td>
            <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
