<div class="page-header">
  <h1>Create Component</h1>
  <h2><%= @app.name %></h2>
</div>

<%= form_for(@component) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, id: "compName" %>
  </div>

  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.text_field :application_id %>
  </div>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>
