<div class="page-header">
  <h1>Create Component</h1>
  <h2><%= @application.name %></h2>
</div>

<%= form_with(model: [@application, @component]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, id: "compName" %>
  </div>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>
