<div class="page-header">
  <%= link_to components_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_component_path(@component), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show component</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @component.name %></dd>

  <dt>Application:</dt>
  <dd><%= @component.application.name %></dd>

  <dt>Description:</dt>
  <dd><%= @component.description %></dd>

  <dt>Category:</dt>
  <dd><%= @component.category %></dd>
</dl>
