<div class="page-header">
  <%= link_to components_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to [:edit, @application, @component], class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h2><%= @component.application.name %> > <%= @component.name %></h2>
</div>

<dl class="dl-horizontal">

  <dt>Description:</dt>
  <dd><%= @component.description %></dd>

  <dt>Category:</dt>
  <dd><%= @component.category %></dd>

  <dt>Status:</dt>
  <dd><%= @component.status %></dd>
</dl>

<div class="row">
  <div class="col-lg-4">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
                <th>Functionalities</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @component.functionalities) do |functionality| %>
                <td><%= functionality.title %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
                <th>Test Cases</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @component.testsuites) do |testsuite| %>
            <td><%= link_to testsuite.title, [testsuite] %> \/ </td>

            <%= content_tag_for(:tr, testsuite.testcases) do |testcase| %>
              <td style='padding-left: 30px'><%= link_to testcase.title, [testcase] %> </td>
            <% end %>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
