<div class="page-header">
  <%= link_to new_functionality_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Functionality
  <% end %>
  <h1>Listing functionalities</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Component</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @functionalities) do |functionality| %>
            <td><%= functionality.title %></td>
            <td><%= functionality.component %></td>
            <td><%= link_to 'Show', functionality %></td>
        <td><%= link_to 'Edit', edit_functionality_path(functionality) %></td>
        <td><%= link_to 'Destroy', functionality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
