<div class="page-header">
  <%= link_to new_testcase_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Testcase
  <% end %>
  <h1>Listing testcases</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @testcases) do |testcase| %>
            <td><%= testcase.title %></td>
            <td><%= testcase.description %></td>
            <td><%= link_to 'Show', testcase %></td>
        <td><%= link_to 'Edit', edit_testcase_path(testcase) %></td>
        <td><%= link_to 'Destroy', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
